<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.casinovenezia.casinodivenezia">

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="it.casinovenezia.casinodivenezia.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="it.casinovenezia.casinodivenezia.permission.C2D_MESSAGE" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Allows the API to cache map tile data in the device's external storage area -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Allows the API to use WiFi or mobile cell data (or both) to determine the device's location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Allows the API to use the Global Positioning System (GPS) to determine the device's location to within a very small area -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".StarterApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBrHur8ZaVUML-PHpTzFtrQXDorn3gsBt4" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventAds"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>
        <activity
            android:name=".EventDetailsActivity"
            android:label="@string/title_activity_event_details"></activity>
        <activity
            android:name=".SlotDetailsActivity"
            android:label="@string/title_activity_slot_details"></activity>
        <activity
            android:name=".CasinoGame_Item_Activity"
            android:label="@string/title_activity_game_item"></activity>
        <activity
            android:name=".PokerDetailsActivity"
            android:label="@string/title_activity_poker_item"></activity>
        <activity
            android:name=".TournamentDetailsActivity"
            android:label="@string/title_activity_tournament_item"></activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"></activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/info_activiy_text"></activity>
        <activity
            android:name=".TimeTableActivity"
            android:label="@string/time_table"></activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"></activity>
        <activity
            android:name=".LogInSignInFirebase"
            android:label="@string/title_activity_sign_up"></activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_sign_up"></activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider724548800932026"
            android:exported="true" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_appiconn" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/navy" />

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name. -->
                <category android:name="it.casinovenezia.casinodivenezia" />
            </intent-filter>
        </receiver>

        <service android:name=".GeofenceTransitionsIntentService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="it.casinovenezia.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/content_delivery_paths" />
        </provider>

        <activity
            android:name=".FreeEntrance"
            android:label="@string/title_activity_free_entrance"></activity>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@mipmap/leo" />

        <activity android:name=".QRCodeActivity"></activity>
    </application>

</manifest>